In [97]:
import os
os.getcwd()

# Change the directory to the relevant year folder
os.chdir(r'C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\\G2G Report Analysis\\TT reporting Trend\\2020_G2G Analysis')
os.getcwd()

'C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\\G2G Report Analysis\\TT reporting Trend\\2020_G2G Analysis'

In [165]:
import pandas as pd
import datetime
import math

da = pd.read_excel ("G2G May'20.xlsx", sheet_name="May'20",header = 1,
                    usecols="E:I,AB,AC,BB")

# Renaming all column headers
da.set_axis(['Month', 'Plant', 'Date of Loading', 'Truck No','Hauler', 'Depot In','Depot Out','Depot G2G'],
            axis='columns', inplace=True) 
da.count

<bound method DataFrame.count of           Month Plant Date of Loading    Truck No Hauler  Depot In Depot Out  \
0    2020-05-01  I315      2020-05-01  GJ12BT5253   ARPL  09:43:00  15:10:00
1    2020-05-01  I315      2020-05-01  GJ12BV5604   ARPL  10:15:00  13:05:00
2    2020-05-01  I314      2020-05-02  GJ12BW1795   ARPL  08:28:00  15:58:00
3    2020-05-01  I314      2020-05-02  GJ12BW1795   ARPL  08:28:00  15:58:00
4    2020-05-01  I315      2020-05-02  GJ12BT4538   ARPL  08:48:00  13:06:00
...         ...   ...             ...         ...    ...       ...       ...
1315 2020-05-01  I309      2020-05-29  TN33BR0772    SVT  08:12:00  11:24:00
1316 2020-05-01  I309      2020-05-29   TN56M9219    SVT  11:33:00  16:03:00
1317 2020-05-01  I438      2020-05-30   TN86E4788    SVT  08:52:00  12:02:00
1318 2020-05-01  I438      2020-05-30   TN52Q5522    SVT  10:34:00  13:55:00
1319 2020-05-01  I437      2020-05-30  TN33BJ0407    SVT  08:11:00  12:17:00

     Depot G2G
0     05:27:00
1     02:50:00
2     07:30:00
3     07:30:00
4     04:18:00
...        ...
1315  03:12:00
1316  04:30:00
1317  03:10:00
1318  03:21:00
1319  04:06:00

[1320 rows x 8 columns]>

In [166]:
""" 
Replaces the time values in Depot G2G which might be incorrect as they might have been entered as integers +/- or
incorrect time values across Depot G2G, Depot In and Depot Out columns
"""

for i in range(len(da)):
    if isinstance(da.loc[i,'Depot G2G'],datetime.datetime):
        if (da.loc[i,'Depot G2G']<datetime.datetime(1899,12,31,0,0,0)) or (da.loc[i,'Depot G2G']>datetime.datetime(1899,12,31,23,59,59)):
            da.loc[i,'Depot G2G'] = math.nan
        else:
            pass
    else:
        if isinstance(da.loc[i,'Depot G2G'],datetime.time) == False:
            da.loc[i,'Depot G2G'] = math.nan
        else:
            pass

for i in range(len(da)):
    if isinstance(da.loc[i,'Depot In'],datetime.time)== False:
        da.loc[i,'Depot In'] = math.nan
    else:
        pass

for i in range(len(da)):
    if isinstance(da.loc[i,'Depot Out'],datetime.time)== False:
        da.loc[i,'Depot In'] = math.nan
    else:
        pass

# Ensuring the month and loading dates are in date formats only
for i in range(len(da)):
    if isinstance(da.loc[i,'Month'],datetime.datetime):
        da.loc[i,'Month'] = da.loc[i,'Month'].date()
    else:
        if isinstance(da.loc[i,'Month'],datetime.date) == False:
            da.loc[i,'Month'] = math.nan
        else:
            pass
        
for i in range(len(da)):
    if isinstance(da.loc[i,'Date of Loading'],datetime.datetime):
        da.loc[i,'Date of Loading'] = da.loc[i,'Date of Loading'].date()
    else:
        if isinstance(da.loc[i,'Date of Loading'],datetime.date) == False:
            da.loc[i,'Date of Loading'] = math.nan
        else:
            pass

In [167]:
print(da[da.isna().any(axis=1)])
print(da[da.isna().any(axis=1)].count())

Empty DataFrame
Columns: [Month, Plant, Date of Loading, Truck No, Hauler, Depot In, Depot Out, Depot G2G]
Index: []
Month              0
Plant              0
Date of Loading    0
Truck No           0
Hauler             0
Depot In           0
Depot Out          0
Depot G2G          0
dtype: int64

In [168]:
# drop all row values containing NaN
da.dropna (inplace=True)
da.count

<bound method DataFrame.count of            Month Plant Date of Loading    Truck No Hauler  Depot In Depot Out  \
0     2020-05-01  I315      2020-05-01  GJ12BT5253   ARPL  09:43:00  15:10:00
1     2020-05-01  I315      2020-05-01  GJ12BV5604   ARPL  10:15:00  13:05:00
2     2020-05-01  I314      2020-05-02  GJ12BW1795   ARPL  08:28:00  15:58:00
3     2020-05-01  I314      2020-05-02  GJ12BW1795   ARPL  08:28:00  15:58:00
4     2020-05-01  I315      2020-05-02  GJ12BT4538   ARPL  08:48:00  13:06:00
...          ...   ...             ...         ...    ...       ...       ...
1315  2020-05-01  I309      2020-05-29  TN33BR0772    SVT  08:12:00  11:24:00
1316  2020-05-01  I309      2020-05-29   TN56M9219    SVT  11:33:00  16:03:00
1317  2020-05-01  I438      2020-05-30   TN86E4788    SVT  08:52:00  12:02:00
1318  2020-05-01  I438      2020-05-30   TN52Q5522    SVT  10:34:00  13:55:00
1319  2020-05-01  I437      2020-05-30  TN33BJ0407    SVT  08:11:00  12:17:00

     Depot G2G
0     05:27:00
1     02:50:00
2     07:30:00
3     07:30:00
4     04:18:00
...        ...
1315  03:12:00
1316  04:30:00
1317  03:10:00
1318  03:21:00
1319  04:06:00

[1320 rows x 8 columns]>

In [169]:
# drop all duplicates
da.drop_duplicates(inplace=True)
da.count

<bound method DataFrame.count of            Month Plant Date of Loading    Truck No Hauler  Depot In Depot Out  \
0     2020-05-01  I315      2020-05-01  GJ12BT5253   ARPL  09:43:00  15:10:00
1     2020-05-01  I315      2020-05-01  GJ12BV5604   ARPL  10:15:00  13:05:00
2     2020-05-01  I314      2020-05-02  GJ12BW1795   ARPL  08:28:00  15:58:00
4     2020-05-01  I315      2020-05-02  GJ12BT4538   ARPL  08:48:00  13:06:00
5     2020-05-01  I314      2020-05-02  GJ12AZ9809   ARPL  08:31:00  16:23:00
...          ...   ...             ...         ...    ...       ...       ...
1315  2020-05-01  I309      2020-05-29  TN33BR0772    SVT  08:12:00  11:24:00
1316  2020-05-01  I309      2020-05-29   TN56M9219    SVT  11:33:00  16:03:00
1317  2020-05-01  I438      2020-05-30   TN86E4788    SVT  08:52:00  12:02:00
1318  2020-05-01  I438      2020-05-30   TN52Q5522    SVT  10:34:00  13:55:00
1319  2020-05-01  I437      2020-05-30  TN33BJ0407    SVT  08:11:00  12:17:00

     Depot G2G
0     05:27:00
1     02:50:00
2     07:30:00
4     04:18:00
5     07:52:00
...        ...
1315  03:12:00
1316  04:30:00
1317  03:10:00
1318  03:21:00
1319  04:06:00

[968 rows x 8 columns]>

In [170]:
path = "C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\\G2G Report Analysis\\Data Model\\Monthly Data Files\\2020\\"
da.to_csv(path+"May-20.csv",index=False)