In [605]:
import math
import datetime
import os
os.getcwd()

'C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\\G2G Report Analysis\\TT reporting Trend\\2020_G2G Analysis'

In [606]:
os.chdir('C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\\G2G Report Analysis\\TT reporting Trend\\2020_G2G Analysis')

In [607]:
os.getcwd()

'C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\\G2G Report Analysis\\TT reporting Trend\\2020_G2G Analysis'

In [608]:
import pandas as pd
import numpy as np

In [609]:
dataset = pd.read_excel("G2G Jun'20.xlsx",sheet_name="Jun'20",usecols = "E:N,AB:AC",header=1)

In [610]:
dataset.replace(r'^\s*$',np.nan, regex=True,inplace=True)
dataset.fillna(0,axis=1,inplace=True)

In [611]:
dataset

,Month,Plant,Date of loading,Truck No,Haulier,Product,ULP,SVPM,HSD,SVPD,Depot In,Depot Out
0,2020-06-01,I314,2020-06-01,GJ12BT0464,ARPL,MS,19.0,5.0,0.0,0.0,10:32:00,15:10:00
1,2020-06-01,I315,2020-06-01,GJ12BX1090,ARPL,MS/HSD,17.0,0.0,12.0,0.0,11:06:00,16:21:00
2,2020-06-01,I315,2020-06-01,GJ12BT2579,ARPL,MS/HSD,14.0,0.0,10.0,0.0,12:28:00,16:53:00
3,2020-06-01,I314,2020-06-01,GJ12BV5709,ARPL,MS,12.0,0.0,0.0,0.0,11:14:00,19:34:00
4,2020-06-01,I314,2020-06-01,GJ12BV5709,ARPL,MS,17.0,0.0,0.0,0.0,11:14:00,19:34:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1865,2020-06-01,I438,2020-06-30,TN33BP0312,VELAN,ML,15.0,0.0,14.0,0.0,08:29:00,11:41:00
1866,2020-06-01,I438,2020-06-30,TN56M9219,VELAN,ML,18.0,0.0,10.0,0.0,08:10:00,10:28:00
1867,2020-06-01,I438,2020-06-30,TN33BR0859,VELAN,ML,10.0,5.0,14.0,0.0,09:08:00,11:54:00
1868,2020-06-01,I438,2020-06-29,TN86D4888,VELAN,ML,10.0,0.0,5.0,0.0,10:01:00,12:10:00
1869,2020-06-01,I438,2020-06-29,TN86D4888,VELAN,ML,5.0,0.0,9.0,0.0,10:01:00,12:10:00

In [612]:
dataset.set_axis(['Month','Plant','Date of Loading','Truck No','Hauler','Product','ULP','SVPM','HSD','SVPD','Depot In','Depot Out'],
                axis='columns',inplace=True)

In [613]:
dataset

,Month,Plant,Date of Loading,Truck No,Hauler,Product,ULP,SVPM,HSD,SVPD,Depot In,Depot Out
0,2020-06-01,I314,2020-06-01,GJ12BT0464,ARPL,MS,19.0,5.0,0.0,0.0,10:32:00,15:10:00
1,2020-06-01,I315,2020-06-01,GJ12BX1090,ARPL,MS/HSD,17.0,0.0,12.0,0.0,11:06:00,16:21:00
2,2020-06-01,I315,2020-06-01,GJ12BT2579,ARPL,MS/HSD,14.0,0.0,10.0,0.0,12:28:00,16:53:00
3,2020-06-01,I314,2020-06-01,GJ12BV5709,ARPL,MS,12.0,0.0,0.0,0.0,11:14:00,19:34:00
4,2020-06-01,I314,2020-06-01,GJ12BV5709,ARPL,MS,17.0,0.0,0.0,0.0,11:14:00,19:34:00
...,...,...,...,...,...,...,...,...,...,...,...,...
1865,2020-06-01,I438,2020-06-30,TN33BP0312,VELAN,ML,15.0,0.0,14.0,0.0,08:29:00,11:41:00
1866,2020-06-01,I438,2020-06-30,TN56M9219,VELAN,ML,18.0,0.0,10.0,0.0,08:10:00,10:28:00
1867,2020-06-01,I438,2020-06-30,TN33BR0859,VELAN,ML,10.0,5.0,14.0,0.0,09:08:00,11:54:00
1868,2020-06-01,I438,2020-06-29,TN86D4888,VELAN,ML,10.0,0.0,5.0,0.0,10:01:00,12:10:00
1869,2020-06-01,I438,2020-06-29,TN86D4888,VELAN,ML,5.0,0.0,9.0,0.0,10:01:00,12:10:00

In [614]:
dataset['MS'] = dataset['ULP'] + dataset['SVPM']
dataset['AGO'] = dataset['HSD'] + dataset['SVPD']

In [615]:
dataset.drop(['Hauler','Product','ULP','SVPM','HSD','SVPD'],axis=1,inplace=True)

In [616]:
for i in range(len(dataset)):
    if isinstance(dataset.loc[i,'Month'],datetime.date) == False:
        dataset.loc[i,'Month'] = math.nan
        
    if isinstance(dataset.loc[i,'Date of Loading'],datetime.date) == False:
        dataset.loc[i,'Date of Loading'] = math.nan
        
    if isinstance(dataset.loc[i,'Depot In'],datetime.time) == False:
        dataset.loc[i,'Depot In'] = math.nan
        
    if isinstance(dataset.loc[i,'Depot Out'],datetime.time) == False:
        dataset.loc[i,'Depot Out'] = math.nan

In [617]:
dataset.dropna(axis=0,inplace=True)

In [618]:
dataset.columns

Index(['Month', 'Plant', 'Date of Loading', 'Truck No', 'Depot In',
       'Depot Out', 'MS', 'AGO'],
      dtype='object')

In [619]:
zz = dataset.groupby(['Month', 'Plant', 'Date of Loading', 'Truck No', 'Depot In',
       'Depot Out']).agg({'MS':sum,'AGO':sum}).reset_index()

In [620]:
zz['Prod Type'] = np.where((zz['MS']>0) & (zz['AGO']>0),"MPL","Single")

In [621]:
zz

,Month,Plant,Date of Loading,Truck No,Depot In,Depot Out,MS,AGO,Prod Type
0,2020-06-01,I302,2020-06-01,KA01AE0591,15:47:00,16:27:00,10.0,14.0,MPL
1,2020-06-01,I302,2020-06-01,KA01AE3478,11:00:00,14:23:00,0.0,24.0,Single
2,2020-06-01,I302,2020-06-01,KA01AE3826,13:38:00,16:30:00,10.0,14.0,MPL
3,2020-06-01,I302,2020-06-01,KA01AE8999,09:13:00,11:46:00,10.0,14.0,MPL
4,2020-06-01,I302,2020-06-01,KA01AF2101,10:37:00,14:42:00,10.0,14.0,MPL
...,...,...,...,...,...,...,...,...,...
1431,2020-06-01,I493,2020-06-29,MH04KF5605,12:35:00,17:23:00,28.0,0.0,Single
1432,2020-06-01,I493,2020-06-30,MH04GF9351,08:50:00,13:12:00,14.0,10.0,MPL
1433,2020-06-01,I493,2020-06-30,MH04GF9354,09:08:00,14:31:00,10.0,14.0,MPL
1434,2020-06-01,I493,2020-06-30,MH04GR0127,08:42:00,13:15:00,10.0,14.0,MPL
1435,2020-06-01,I493,2020-06-30,MH04KF5605,12:58:00,16:00:00,0.0,28.0,Single

In [622]:
zz['Month'] = zz['Month'].dt.date
zz['Date of Loading'] = zz['Date of Loading'].dt.date

In [623]:
path = 'C:\\Users\\Nilotpal.Choudhury\\OneDrive - Shell\\Documents\\Trading & Supply\\2020\G2G Report Analysis\\Data Model\\Monthly Data Files\\Single-MPL_Keys\\'
zz.to_csv(path+'Jun-20.csv',index=False)